.popup-modal{
    height: 200px;
    width:400px;
    background-color:rgb(146, 146, 214);
    border: 2px solid black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 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 */
/* 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 */
/* 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 */